:root {
  --bac-main-color: #000000;
  --bac-secondary-color: #ffffff;
  --bac-popup-color: rgba(0, 0, 0, 0.5);
  --bac-popup-color_card: rgba(0, 0, 0, 0.9);
  --bac-btn-active: rgb(0, 0, 0);
  --bac-card-img: rgb(51, 50, 50);
}
