.close-button {
  padding: 0;
  border: none;
  background: none;

  width: 20px;
  height: 20px;

  background-image: url("../../images/icons/icon-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  transition: opacity 0.3s ease;
  cursor: pointer;
}

.close-button:hover {
  opacity: 0.6;
}

.close-button:active {
  opacity: 0.4;
}

@media screen and (min-width: 700px) {
  .close-button {
    width: 32px;
    height: 32px;
  }
}
